
			<%= link_to assign_path, class: "pull-right", remote: true do %>
	    	<i class="fa-plus-square fa fa-3x"></i> <br><br>
	   <% end %>
	   <br>
	   <div id="assign-form" style="display:none;"><br></div>
	   <br>
  </div>




	<div id="todos">
		<%= render 'todo' %>
	</div>
</div>