<div class="col-md-6 col-md-offset-3">
	<div class="row">
		<div class="col-md-12">
			<%= link_to new_todo_path, remote: true do %>
	    	<i class="fa-plus-square fa fa-lg"></i> 
	   <% end %>
	   <br>
	   <div id="todo-form" style="display:none;"><br></div>
	   <br>
	 </div>
  </div>




	<div id="todos">
		<%= render 'todo' %>
	</div>
</div>